# == MAC OS FILES == #
.DS_Store

# == VIRTUAL ENV & PYENV == #
myEnv/
.python-version

# # production
/build

# # == VISUAL CODE FILES == #
**/.vscode/
*.code-workspace
.history

# # == DJANGO == #
**/__pycache__
__pycache__
# !logs/
# *.log
# *.bak

# # === MEDIA FILES === #
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.mov
*.mp3
*.mp4

# # Env variable
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# # == MISC == #
*.pickle